@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-form-input {
    @apply w-full p-2 my-2 outline-none border-b-2 bg-gray-100 dark:bg-gray-800 border-gray-300 dark:border-gray-500 focus:border-gray-950 dark:focus:border-gray-50 transition-all duration-200;
  }

  .form-input-error {
    @apply rounded-md p-3 bg-red-100 text-red-800 max-w-full mb-5 ring-2 ring-red-300 break-words;
  }

  .side-nav-links {
    @apply p-2 rounded flex items-center gap-3 text-gray-300 hover:text-gray-50 hover:bg-gray-500 transition-all duration-200;
  }

  .side-nav-links.active {
    @apply bg-gray-500 text-gray-50;
  }

  .mobile-sidenav {
    animation: close-mobile-sidenav 200ms linear;
    animation-fill-mode: both;
  }

  .mobile-sidenav-open {
    animation: open-mobile-sidenav 200ms linear;
    animation-fill-mode: forwards;
  }

  @keyframes open-mobile-sidenav {
    from {
      transform: translateX(-275px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes close-mobile-sidenav {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-275px);
    }
  }
}
